<div [class]="offcanvas" data-bs-scroll="true" tabindex="-1" id="playerRecorder" aria-labelledby="playerRecorderTitle">
  <div class="offcanvas-header">
    <div></div>
    <h3 class="offcanvas-title" [class]="text" id="optionsTitle">Lecteur/Enregistreur</h3>
    <a [class]="closeButton" data-bs-dismiss="offcanvas" type="button">
      <h5 data-bs-toggle="offcanvas" data-bs-target="#playerRecorder" aria-controls="menuTitle">
        <i class="fa-solid fa-arrow-down"></i>
      </h5>
    </a>
  </div>
  <div class="offcanvas-body row">
    <div class="col-3"></div>
    <div class="col-6">
      <nav>
        <div class="nav nav-tabs" [class]="navTabs" id="playerRecorderNavbar" role="tablist">
          <button class="nav-link active" [class]="navbarButton" id="playerNavbarTab" data-bs-toggle="tab" data-bs-target="#playerNavbarPanel" type="button" role="tab" aria-controls="playerTab" aria-selected="true">
            Ajouter un fichier
          </button>
          <button class="nav-link" [class]="navbarButton" id="recordNavbarTab" data-bs-toggle="tab" data-bs-target="#recorderNavbarPanel" type="button" role="tab" aria-controls="recorderTab" aria-selected="false">
            Enregistrer un son
          </button>
          <button class="nav-link" [class]="navbarButton" id="textNavbarTab" data-bs-toggle="tab" data-bs-target="#textNavbarPanel" type="button" role="tab" aria-controls="textTab" aria-selected="false">
            Ecrire un texte
          </button>
        </div>
      </nav>
      <div class="tab-content" [class]="text" id="nav-tabContent">
        <div class="tab-pane fade show active" id="playerNavbarPanel" role="tabpanel" aria-labelledby="playerPanel" tabindex="0">...</div>
        <div class="tab-pane fade" id="recorderNavbarPanel" role="tabpanel" aria-labelledby="recorderPanel" tabindex="0">...</div>
        <div class="tab-pane fade" id="textNavbarPanel" role="tabpanel" aria-labelledby="textPanel" tabindex="0">...</div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
