<div id="orderProgressBar" class="card card-timeline px-2 border-none">
  <ul class="bs4-order-tracking">
    <li id="1" class="step active">
      <div>
        1
      </div>
      Informations
    </li>
    <li id="2" class="step">
      <div>
        2
      </div>
      Informations Utilisateur
    </li>
    <li id="3" class="step">
      <div>
        3
      </div>
      Scores
    </li>
    <li id="4" class="step">
      <div>
        4
      </div>
      Images & Sons
    </li>
    <li id="5" class="step">
      <div>
        5
      </div>
      Finalisation
    </li>
  </ul>
</div>
