<div class="card card-timeline px-2 border-none" id="orderProgressBar">
  <ul class="bs4-order-tracking">
    <li class="step active" id="1">
      <div>
        1
      </div>
      Informations
    </li>
    <li class="step" id="2">
      <div>
        2
      </div>
      Informations Utilisateur
    </li>
    <li class="step" id="3">
      <div>
        3
      </div>
      Images & Sons
    </li>
    <li class="step" id="4">
      <div>
        4
      </div>
      Finalisation
    </li>
  </ul>
</div>
