/* ----- CLASS ----- */

.navbar-button{
  text-align: start;
  margin-left: 10%;
}

.darkText {
  color: rgba(255, 255, 255, 0.55);
}

.darkButton {
  color: rgba(255, 255, 255, 0.55);
}

a.darkText:hover, button span.darkText:hover {
  color: white;
}

.lightText {
  color: black;
}

a.lightText:hover, button span.lightText:hover {
  color: darkgray;
}
