<nav [class]="navbarTheme">
  <div class="container-fluid">
    <span class="navbar-text">
      Menu
      <button class="navbar-toggler navbar-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menuTitle" (click)="openModalWithNavbarTitle(false)">
        <span class="navbar-toggler-icon"></span>
      </button>
    </span>
    <span class="navbar-text">
      <h3>
        <a type="button" data-bs-target="#homeAlert" [attr.data-bs-toggle]="activateAlert" (click)="openModalWithNavbarTitle(true)">
          GazePlay Eval
        </a>
      </h3>
    </span>
    <div class="dropdown">
      <button class="navbar-button navbar-toggler dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user fa-fw"></i>
        Utilisateur
      </button>
      <ul [class]="navbarDropdownTheme">
        <li><a class="dropdown-item"><i class="fa-solid fa-power-off"></i> Déconnexion</a></li>
      </ul>
    </div>
  </div>
</nav>

<app-menu></app-menu>
