/**
Elem html
**/

button {
  margin-right: 1%;
}

img {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 3%;
}

textarea {
  resize: none;
}

div.col {
  text-align: -webkit-center;
}

mat-grid-tile {
  border-color: black;
  border-style: solid;
}

/**
Class
**/
.main {
  width: 100%;
}

.second {
  padding-bottom: 1%;
}

.title {
  text-align: center;
}

.tileSize {
  width: -webkit-fill-available;
  height: inherit;
}

.removeButton {
  text-align: center;
}

.radioLabel {
  margin-left: 3%;
}

.radioDiv {
  text-align: center;
}

.textArea {
  margin-top: 5%;
}

.audioElem {
  min-width: 340px;
}

.audioPos {
  text-align: center;
}

.imgAndSound {
  background: #E9ECEF;
  border-color: #CED4DA;
}

.addImg {
  margin: auto;
}

.addSong {
  text-align: center;
  margin-top: 2%;
}

.form-control[type=file] {
  overflow: hidden;
  min-width: 145px;
  max-width: 145px;
}

.closeButton {
  text-align: end;
}

.imgSize {
  min-width: 150px;
  min-height: 150px;
}

.leftInput {
  margin-left: 1%;
}

.rigthInput {
  margin-left: -1%;
}

.imgTile {
  text-align: end;
}

.itemTile {
  text-align: end;
}

.order {
  text-align: left;
}

/**
Id
**/

#assets {
  margin-left: 5%;
}

#descriptionSound {
  margin-top: 4%;
}

/*---------------------------------*/

.borderInfo {
  border: thick groove ghostwhite;
  padding-bottom: 1%;
}

.infoTooltip {
  width: 40px;
  height: 40px;
}

.containerTooltip {
  text-align: end;
}

.removeButton {
  text-align: center;
  margin: auto;
}

.btnColor {
  color: lightgrey;
}

.explanationColor {
  background-color: rgba(255, 255, 255, 0.55);
}

.cardHeaderColor {
  color: rgba(255, 255, 255, 0.55);
}

.cardDark {
  border: 2px black solid !important;
}

.cardLight {
  border: 2px gray solid !important;
}
