button {
  margin-top: 1%;
}

p {
  margin-left: 10%;
}

ul {
  margin-left: 20%;
}

p, ul {
  font-size: 20px !important;
}

/*----- CLASS -----*/

.container-fluid {
  width: 50%;
}

.explanation {
  margin-top: 2%;
}

.explanationColor {
  color: lightgray;
  background-color: rgba(255, 255, 255, 0.55);
}

.cardHeaderColor {
  color: rgba(255, 255, 255, 0.55);
}

.card {
  border: 2px black solid !important;
}
