<div class="container-fluid">
  <div [class]="cardTheme">
    <div [class]="cardHeaderTheme">
      <h1>Création d'une évaluation pour GazePlay</h1>
    </div>
    <div [class]="cardTextTheme">
      <p>Bienvenue sur notre site de création d'évaluation !</p>
      <p>Les évaluations sont utilisables et jouables sur notre application GazePlay-Eval</p>
      <p>Avant de continuer, penser bien à avoir tout ce qu'il faut pour une évaluation :</p>
      <ul>
        <li>Un nom d'évaluation</li>
        <li>Les informations de la personne passant l'évaluation</li>
        <li>Les scores</li>
        <li>Les images</li>
        <li>Les sons (on peut enregistrer sa voix)</li>
      </ul>
      <div class="mb-3 text-center">
        <button (click)="startEval()" [class]="buttonTheme" type="button">Commencer</button>
      </div>
    </div>
  </div>
</div>
