<div class="modal fade" id="deleteAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteAlertHeader" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div [class]="modalHeader">
        <h1 class="modal-title fs-5" id="deleteAlertHeader">Supprimer l'élément</h1>
      </div>
      <div [class]="modalBody">
        <span>Attention !</span>
        <br>
        <span>Vous allez supprimer cette élément !</span>
        <br>
        <span>Êtes vous toujours sûr ?</span>
      </div>
      <div [class]="modalFooter">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteElem(true)">Oui</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="deleteElem(false)"><span>Non</span></button>
      </div>
    </div>
  </div>
</div>
