<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-text">
      Menu
      <button class="navbar-toggler navbar-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menuTitle">
        <span class="navbar-toggler-icon"></span>
      </button>
    </span>
    <span class="navbar-text">
      <h3>
        GazePlay Eval
      </h3>
    </span>
    <div class="dropdown">
      <button class="navbar-button navbar-toggler dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user fa-fw"></i>
        Utilisateur
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item">Déconnexion</a></li>
      </ul>
    </div>
  </div>
</nav>

<app-menu></app-menu>
