<h1 mat-dialog-title>Ajouter un son</h1>
<mat-dialog-content class="mat-typography">
  <mat-dialog-actions>
    <button (click)="activeButton('file', 'record',true)" class="btn btn-light choiceButton active" id="file"
            type="button">Ajouter un fichier
    </button>
    <button (click)="activeButton('record', 'file', false)" class="btn btn-light choiceButton" id="record"
            type="button">Enregistrer un son
    </button>
  </mat-dialog-actions>
  <input (change)="getSound($event)" *ngIf="buttonFileActivate" accept=".mp3, .wav" class="form-control audioFile"
         type="file">
  <div *ngIf="!buttonFileActivate" class="btn-group" role="group">
    <button (click)="startRecording()" class="btn btn-light choiceButton" type="button">
      <img [src]="imgRecord" alt="Record" class="buttonimg">
    </button>
    <button (click)="stopRecording()" class="btn btn-light choiceButton" type="button">
      <img alt="Stop" class="buttonimg" src="assets/images/stop.png">
    </button>
    <button (click)="listenRecording()" class="btn btn-light choiceButton" type="button">
      <img alt="Play" class="buttonimg" src="assets/images/play.png">
    </button>
  </div>
  <div *ngIf="!buttonFileActivate" class="mb-3 nameRecord">
    <label class="form-label" for="SoundName">Nom du son enregistré</label>
    <input (change)="getNameRecord($event)" class="form-control" id="SoundName" placeholder="Exemple : Record1"
           type="text">
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button (click)="close()" class="btn btn-secondary" type="button">Fermer</button>
  <button (click)="add()" class="btn btn-secondary" type="button">Ajouter</button>
</mat-dialog-actions>

