mat-dialog-content{
  overflow: hidden;
}

mat-dialog-content > mat-dialog-actions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: .25em;
}

.audioFile{
  margin-top: 7%;
}

.nameRecord{
  margin-top: 5%;
}

.btn-secondary{
  margin-right: 1%;
}

.choiceButton {
  margin-right: 5%;
  margin-left: 5%;
  border-color: gray;
}

.buttonimg {
  height: 0.7cm;
  width: 0.7cm;
  min-width: 0.4cm;
  min-height: 0.4cm;
  margin: -5px -5px;
}

.btn-group{
  width: -webkit-fill-available;
  margin-top: 5%;
}
