/*
-----------HTML part-----------------
 */

img {
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 3%;
}

textarea {
  resize: none;
}

/*
-----------Class part-----------------
 */

.title {
  text-align: center;
}

.removeButton {
  flex: 0;
}

.radioLabel {
  margin-left: 3%;
}

.radioDiv {
  text-align: center;
}

.textArea {
  margin-top: 3%;
}

.audioElem {
  width: 100px;
  height: 100px;
  margin-bottom: 3%;
  padding: 5% 0 0 12%;
}

/*
-----------ID part-----------------
 */

#profil {
  margin-left: 5%;
}

#scores {
  margin-left: 5%;
}

#addScoreButton {
  margin-left: -5%;
}

#assets {
  margin-left: 5%;
}
