button {
  margin-right: 1%;
}

img{
  max-width: 100px;
  max-height: 100px;
  margin-top: -50%;
  margin-left: -10%;
}

.sound{
  width: 50px;
  height: 40px;
  margin-top: -10%;
  margin-left: -50%;
}

.container-fluid {
  width: 75%;
}

.item{
  text-align: center;
}

.img{
  text-align: end;
}

.user{
  text-align: center;
}

.score{
  text-align: end;
}

.description{
  text-align: center;
}

.assets{
  width: 100%;
}

.buttonimg {
  height: 0.7cm;
  width: 0.7cm;
  min-width: 0.4cm;
  min-height: 0.4cm;
  margin-top: 1px;
  margin-left: -1px;
}

#recap{
  margin-left: 3%;
}
