<div aria-labelledby="menuTitle" [class]="offcanvas" data-bs-scroll="true" id="menu"
     tabindex="-1">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" [class]="text" id="menuTitle">Menu</h3>
    <a [class]="closeButton" data-bs-dismiss="offcanvas" type="button"><h5><i class="fa-solid fa-arrow-left"></i></h5></a>
  </div>
  <div class="offcanvas-body">
    <nav class="nav flex-column">
      <span class="navbar-text" [class]="text">
        <h4>
          Accueil
        </h4>
      </span>
      <button [class]="navbarButton" data-bs-target="#homeAlert" [attr.data-bs-toggle]="activateAlert[0]">
        <div [attr.data-bs-dismiss]="activateAlert[1]"><h5><span [class]="text"><i class="fa-solid fa-house"></i> Accueil</span></h5></div>
      </button>
      <span class="navbar-text" [class]="text">
        <h4>
          Evaluation
        </h4>
      </span>
      <button [class]="navbarButton" data-bs-dismiss="offcanvas" (click)="startEval()">
        <div><h5><span [class]="text"><i class="fa-solid fa-file"></i> Commencer</span></h5></div>
      </button>
      <button [class]="navbarButton" data-bs-dismiss="offcanvas" (click)="save()">
        <div><h5><span [class]="text"><i class="fa-solid fa-floppy-disk"></i> Sauvegarder</span></h5></div>
      </button>
      <button [class]="navbarButton" data-bs-dismiss="offcanvas">
        <div><h5><span [class]="text"><i class="fa-solid fa-download"></i> Charger</span></h5></div>
      </button>
      <button [class]="navbarButton" data-bs-dismiss="offcanvas" (click)="import()">
        <div><h5><span [class]="text"><i class="fa-solid fa-download"></i> Importer</span></h5></div>
      </button>
      <span class="navbar-text" [class]="text">
        <h4>
          Guide
        </h4>
      </span>
      <button [class]="navbarButton" data-bs-dismiss="offcanvas">
        <div><h5><span [class]="text"><i class="fa-solid fa-book"></i> Guide</span></h5></div>
      </button>
      <span class="navbar-text" [class]="text">
        <h4>
          Paramètres
        </h4>
      </span>
      <button [class]="navbarButton" data-bs-toggle="offcanvas" data-bs-target="#options" aria-controls="optionsTitle">
        <div data-bs-dismiss="offcanvas"><h5><span [class]="text"><i class="fa-solid fa-gear"></i> Options</span></h5></div>
      </button>
    </nav>
  </div>
</div>

<app-settings></app-settings>
<app-home-alert></app-home-alert>
<app-delete-alert></app-delete-alert>
